<!DOCTYPE html>
<html>
  <head> 
    <link rel="stylesheet" type="text/css" href="./static/registerstyle.css"/>
  </head>
  <body>

    {% for message in messages %}
    
    <div class="alert alert-success">
      <p style="color:red","font-size:18px">{{ message }}</p>
        <a class="close" href="/register" data-dismiss="alert">
          Try Again
        </a>
          
    </div>

    {% endfor %}
    <form action="register" method="post">
      {%csrf_token%}
      <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
    
        
        <input type="text" placeholder="First Name" name="first_name" id="fname" required>
    
        
        <input type="text" placeholder="Last Name" name="last_name" id="lname" required>
    
        
        <input type="text" placeholder="Username" name="username" id="uname" required>
        <input type="password" placeholder="Password" name="password1" id="password1" required>
        <input type="password" placeholder="Confirm Password" name="password2" id="password2" required>
        <hr>
    
        
        <input type="Submit">
      </div>
    
      
    </form>

    
  </body>
</html>