@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.menu-item-image {
    border-radius: 16px;
    height:180px;
  }
  .menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    margin-top: 24px;
  }
  .menu-item-card {
    border-radius: 16px;
  }
  .menu-item-link {
    color: #5D75FC;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
  }
  body {
      background: #fff;
  }
  
  .hidden {
      opacity: 0;
  }
  
  .console-container {
  
      font-family: Khula;
      font-size: 35px;
      text-align: center;
      height: 200px;
      width: 600px;
      display: block;
      position: absolute;
      color: white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  .console-underscore {
      display: inline-block;
      position: relative;
      top: -0.14em;
      left: 10px;
  }
