{% load static %}
{% load more_tags %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    


</head>
  <title>Home</title>
  <body>     
    <div>     
        
        {%if problems_list%}
        <ol>
        {%for problem in problems_list%}   
        <div class="container">     
            <div class="card shadow menu-item-card p-3 mb-2 mt-5">
                <div class="card-text">
                <h4 style="font-size:26px;">{{problem.name}}
                {% if problem|has_user_solved:user_obj %}  
                  <i class="fa fa-check-circle" style="font-size:21px;color:green"></i>
                {% else %}   
                {% endif %}</h4>           
                </div>
                <a href="{% url 'judge:problem_detail' problem.id %}">
                    {% if problem|has_user_solved:user_obj %}  
                              
                    <button class="card-button">Solved</button>
                    {% else %}
                    <button class="card-button">Solve me</button>
                    {%endif%}
                </a>
            </div>
        </div>
        {% comment %} <li><a href="{% url 'judge:problem_detail' problem.id %}">{{problem.name}}</a></li> {% endcomment %}
        {%endfor%}
        </ol>
        {%else%}
        <p>No problems are available</p>
        {% endif %}
    </div>

  </body>
</html>
