<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    
    <form action="register",method="post">
        {% csrf_token %}
        
        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="Usrename"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confirm password"><br>
        <button>Submit</button>
        
        

    </form>
  </body>
</html>